<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IPL |Batting Record</title>
</head>
<body>
    <h1>Batsman Record</h1>
    <form action="/bowlerRecord" method="get">
        <label>Select Bowler</label>
        <select name="bowler">
          {% for bowler in bowlers%}
          <option>{{bowler}}</option>
          {% endfor %}
        </select><br><br>

        <input type=submit value="Find Bowler Record">
    </form>
{%if result%}
    {%for i in result%}
        <p>{{i}} : {{result[i]}}</p>
    {% endfor %}
{% endif %}
</body>
</html>