<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>IPL Web Application</h1>
    <p>What would you like to do?</p>
    <ul>
        <li><a href="/team1VSteam2">Team Vs Team</a></li>
        <li><a href="/teamoverallrecord">Team track record</a></li>
        <li><a href="/batsmanoverallrecord">Batsman Record</a></li>
        <li><a href="/bowleroverallrecord">Bowler Record</a></li>
      
    </ul>

</body>
</html>